* {
	margin: 0;
	padding: 0;
}

html {
	background: black;
}

.layer {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

svg {
	margin: 5vh 5vw;
	width: 90vw;
	height: 90vh;

	stroke-linecap: round;
	stroke: white;
	stroke-width: 0.005;
}

#svg-0 {
	/*stroke: #251333;*/
	stroke: #27202F;
	/*stroke: #131521;*/
}

#svg-1 {
	/*stroke: #564D76;*/
	stroke: #CF3E52;
	/*stroke: #232244;*/
}

#svg-2 {
	/*stroke: #877B93;*/
	stroke: #F58871;
	/*stroke: #403276;*/
}

#svg-3 {
	/*stroke: #D0B7B5;*/
	stroke: #C4F9C6;
	/*stroke: #6036AF;*/
}

#svg-4 {
	/*stroke: #E4F0D6;*/
	stroke: #F2F7FC;
	/*stroke: #8725FB;*/
}
